DATABASE_HOST=[Place your database host here]
DATABASE_PORT=[Place your database port here]
DATABASE_NAME=[Place your database name here]
DATABASE_USER=[Place your database user here]
DATABASE_PASS=[Place your database password here]
SESSION_SECRET=[Place here your session secret]
SITE_URL=[Website url]
INCLUDE_ANALYTICS=[true|false]
ANALYTICS_CODE=[code]
